<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* pricing SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="pricing">
	<div class="container">
		<h1 class="parallaxLetter letter1" data-stellar-ratio="1.2" data-stellar-vertical-offset="-200">P</h1>
		<h1 class="parallaxLetter letter2" data-stellar-ratio="0.8">K</h1>
		<!--header-->
		<div class="row sectionIntro">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
				<span>Our Packages</span>
				</h2>
				<p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
					Take a look at our packages below. You'll find we offer a slew of options, but if what you're looking for we're totally fine with making custom packages which suit your needs. Just call us at <span>772-218-1018</span>
				</p>
				<img src="../img/separatorBlack.png" class="img-responsive center-block separator" alt="separator">
			</div>
		</div>
		<!--end header-->
		<h1 class="parallaxLetter letter3" data-stellar-ratio="1.2">C</h1>
		<h1 class="parallaxLetter letter4" data-stellar-ratio="0.3">P</h1>
		<!--content-->
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12 text-center">
				<div class="tableWrapper" data-scroll-reveal="enter left move 10px over 1s after 0.2s">
					<div class="subscriptionName">
						<h2>Birth</h2>
					</div>
					<img class="separator center-block img-responsive" src="/img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionPrice">
						<h2>$600</h2><p></p>
					</div>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img class=" separator center-block img-responsive" src="/img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionList">
						<ul>
							<li>On call photographer</li>
							<li>Free consultation</li>
							<li>-</li>
							<li>-</li>
							<li>-</li>
						</ul>
					</div>
					<a class="btn btn-default btn-black" data-toggle="modal" data-target="#birthModal">More Info!</a>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-center">
				<div class="tableWrapper" data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
					<div class="subscriptionName">
						<h2>Maternity / Newborn</h2>
					</div>
					<img class="separator center-block img-responsive" src="../img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionPrice">
						<h2>$200</h2><p></p>
					</div>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img class=" separator center-block img-responsive" src="../img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionList">
						<ul>
							<li>Free Consultation</li>
							<li></li>
							<li></li>
							<li></li>
							<li>-</li>
						</ul>
					</div>
					<a class="btn btn-default btn-black" data-toggle="modal" data-target="#maternityModal">More Info!</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-center">
				<div class="tableWrapper" data-scroll-reveal="enter right move 10px over 1s after 0.2s">
					<div class="subscriptionName">
						<h2>Month-to-Month</h2>
					</div>
					<img class="separator center-block img-responsive" src="../img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionPrice">
						<h2>$1200</h2><p></p>
					</div>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img class=" separator center-block img-responsive" src="../img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionList">
						<ul>
							<li>Signature package</li>
							<li>Thirteen sessions (1/month)</li>
							<li></li>
							<li>10 E-mail boxes</li>
							<li>-</li>
						</ul>
					</div>
					<a class="btn btn-default btn-black" data-toggle="modal" data-target="#m2mModal">More Info!</a>
				</div>
			</div>
		</div>
		<!--end content-->
	</div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END pricing SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- Modal -->
<div class="modal fade" id="birthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Birth Package</h4>
			</div>
			<div class="modal-body">
				PKC Photography only takes on a select number of birth clients each month. We work quietly and discreetly to maintain your sacred birthing space as we document your labor and birth story.  We take the time to get to know you and your family, so that we can best capture your journey and individual story.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="maternityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Maternity / Newborn Package</h4>
			</div>
			<div class="modal-body">
			<h4>Maternity</h4>
				<p>
				Your maternity shoot aims to capture brilliance and intimacy as you prepare for your birthing day. Ideally, between 32-36 weeks gestation, this 1-2 hour photo shoot will provide you with memories for years to come. We will meet at an agreed upon location to create images that capture your relationship and individuality.</p>
				<h4>Newborn</h4>
				<p>
				Our lifestyle newborn sessions let your baby take the lead. Those first few weeks make the perfect time to capture the cutest of faces! We have four kids, so we understand that babies have their own agendas and we will work around that. We want our time together to be relaxed and joyful. Don’t worry about feedings, diaper changes or the state of your house. We will take individual photos of your newest family member as well as a few of him/her with you and any siblings, if you choose.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="m2mModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Month-to-Month</h4>
			</div>
			<div class="modal-body">
				What is better than your child’s first year documented with photographs?! Our agreement will include 13 mini-photo shoots of your baby - newborn and months 1-12. If you’d like, we can also incorporate a cake smash session to include at his/her first birthday..
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>