<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* pricing SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="pricing">
	<div class="container">
		<h1 class="parallaxLetter letter1" data-stellar-ratio="1.2" data-stellar-vertical-offset="-200">P</h1>
		<h1 class="parallaxLetter letter2" data-stellar-ratio="0.8">K</h1>
		<!--header-->
		<div class="row sectionIntro">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
				<span>Our Packages</span>
				</h2>
				<p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
					<span class-"dropcap">T</span>ake a look at our packages below. You'll find we offer a slew of options, but if what you're looking for we're totally fine with making custom packages which suit your needs. Just call us at: <h5>772-218-1018</h5>
				</p>
				<img src="../img/separatorBlack.png" class="img-responsive center-block separator" alt="separator">
			</div>
		</div>
		<!--end header-->
		<h1 class="parallaxLetter letter3" data-stellar-ratio="1.2">C</h1>
		<h1 class="parallaxLetter letter4" data-stellar-ratio="0.3">P</h1>
		<!--content-->
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12 text-center">
				<div class="tableWrapper" data-scroll-reveal="enter left move 10px over 1s after 0.2s">
					<div class="subscriptionName">
						<h2>Birth</h2>
					</div>
					<img class="separator center-block img-responsive" src="/img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionPrice">
						<h2>$600</h2><p></p>
					</div>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img class=" separator center-block img-responsive" src="/img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionList">
						<ul>
							<li>On call photographer</li>
							<li>Free consultation</li>
							<li>-</li>
							<li>-</li>
							<li>-</li>
						</ul>
					</div>
					<a class="btn btn-default btn-black" data-toggle="modal" data-target="#birthModal">More Info!</a>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-center">
				<div class="tableWrapper" data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
					<div class="subscriptionName">
						<h2>Maternity / Newborn</h2>
					</div>
					<img class="separator center-block img-responsive" src="../img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionPrice">
						<h2>$200</h2><p></p>
					</div>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img class=" separator center-block img-responsive" src="../img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionList">
						<ul>
							<li>Free Consultation</li>
							<li>-</li>
							<li>-</li>
							<li>-</li>
							<li></li>
						</ul>
					</div>
					<a class="btn btn-default btn-black" data-toggle="modal" data-target="#maternityModal">More Info!</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-center">
				<div class="tableWrapper" data-scroll-reveal="enter right move 10px over 1s after 0.2s">
					<div class="subscriptionName">
						<h2>Month-to-Month</h2>
					</div>
					<img class="separator center-block img-responsive" src="../img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionPrice">
						<h2>$1200</h2><p></p>
					</div>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img class=" separator center-block img-responsive" src="../img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionList">
						<ul>
							<li>Signature package</li>
							<li>Thirteen sessions (1/month)</li>
							<li>-</li>
							<li>-</li>
							<li></li>
						</ul>
					</div>
					<a class="btn btn-default btn-black" data-toggle="modal" data-target="#m2mModal">More Info!</a>
				</div>
			</div>
			<img src="/img/separatorBlack.png" class="img-responsive center-block separator" alt="separator">
			<div class="col-md-4 col-sm-12 col-xs-12 text-center">
				<div class="tableWrapper" data-scroll-reveal="enter left move 10px over 1s after 0.2s">
					<div class="subscriptionName">
						<h2>Weddings</h2>
					</div>
					<img class="separator center-block img-responsive" src="/img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionPrice">
						<h2>$2500-4500</h2><p></p>
					</div>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img class=" separator center-block img-responsive" src="/img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionList">
						<ul>
							<li>Up to 12 hours photography Support</li>
							<li>Tailored to your schedule</li>
							<li>Engagement photos included</li>
							<li>~1000 edited photos</li>
							<li>-</li>
						</ul>
					</div>
					<a class="btn btn-default btn-black" data-toggle="modal" data-target="#weddingModal">More Info!</a>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-center">
				<div class="tableWrapper" data-scroll-reveal="enter left move 10px over 1s after 0.2s">
					<div class="subscriptionName">
						<h2>Portraits</h2>
					</div>
					<img class="separator center-block img-responsive" src="/img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionPrice">
						<p>Starting at </p><br><h2>$150</h2>
					</div>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img class=" separator center-block img-responsive" src="/img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionList">
						<ul>
							<li>One hour session</li>
							<li></li>
							<li>Engagement photos included</li>
							<li>~1000 edited photos</li>
							<li>-</li>
						</ul>
					</div>
					<a class="btn btn-default btn-black" data-toggle="modal" data-target="#portraitModal">More Info!</a>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 text-center">
				<div class="tableWrapper" data-scroll-reveal="enter left move 10px over 1s after 0.2s">
					<div class="subscriptionName">
						<h2>Events</h2>
					</div>
					<img class="separator center-block img-responsive" src="/img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionPrice">
						<p>Starting at </p><br><h2>$150</h2>
					</div>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img class=" separator center-block img-responsive" src="/img/separatorBlack.png" alt="Dotted Separator">
					<div class="subscriptionList">
						<ul>
							<li>Up to 12 hours photography Support</li>
							<li>Tailored to your itinerary</li>
							<li>Engagement photos included</li>
							<li>~1000 edited photos</li>
							<li>-</li>
						</ul>
					</div>
					<a class="btn btn-default btn-black" data-toggle="modal" data-target="#eventModal">More Info!</a>
					
				</div>
			</div>
		</div>
		<!--end content-->
	</div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END pricing SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- Modal -->
<div class="modal fade" id="birthModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Birth Package</h4>
			</div>
			<div class="modal-body">
				PKC Photography only takes on a select number of birth clients each month. We work quietly and discreetly to maintain your sacred birthing space as we document your labor and birth story.  We take the time to get to know you and your family, so that we can best capture your journey and individual story.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="maternityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Maternity / Newborn Package</h4>
			</div>
			<div class="modal-body">
			<h4>Maternity</h4>
				<p>
				Your maternity shoot aims to capture brilliance and intimacy as you prepare for your birthing day. Ideally, between 32-36 weeks gestation, this 1-2 hour photo shoot will provide you with memories for years to come. We will meet at an agreed upon location to create images that capture your relationship and individuality.</p>
				<h4>Newborn</h4>
				<p>
				Our lifestyle newborn sessions let your baby take the lead. Those first few weeks make the perfect time to capture the cutest of faces! We have four kids, so we understand that babies have their own agendas and we will work around that. We want our time together to be relaxed and joyful. Don’t worry about feedings, diaper changes or the state of your house. We will take individual photos of your newest family member as well as a few of him/her with you and any siblings, if you choose.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="m2mModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Month-2-Month</h4>
			</div>
			<div class="modal-body">
				<h5>Our Signature</h5>
				<p>We absolutely love taking these! Watching babies grow into children is such an amazing piece of nature. The best part is finding new creative ways to capture their growth over the course of a year!
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="weddingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Weddings</h4>
			</div>
			<div class="modal-body">
				Allow us to capture all those moments of a lifetime on your wedding day. We will take all the precautions necessary to ensure that your wedding day will be flawless. With on camera dual card backups to ultra organized albums, you'll be able to relive your special day for a lifetime.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Portraits</h4>
			</div>
			<div class="modal-body">
				Whether you'd like to take some headshots, or get a series of candid photos of the family when reunion time comes around, we're here for you. We will be on site to make sure that you will cherish these memories for years to come.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Special Events</h4>
			</div>
			<div class="modal-body">
				<h6>Birthday? Work promotion celebration? Heck just because? Let us come take candids of you to complete the event with proof of what happened. </h6>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
