<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* about SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="servicesSimple">
	<div class="container">
		<h1 class="parallaxLetter letter1" data-stellar-ratio="1.5" data-stellar-vertical-offset="0">C</h1>
		<h1 class="parallaxLetter letter2" data-stellar-ratio="0.5" data-stellar-vertical-offset="200">K</h1>
		<!--header-->
		<div class="row sectionIntro">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
				<span>Services</span>
				</h2>
				<p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
					We are a bring all ideas photography solution. Others keep their photography services cookie cutter which makes the possibilities limited on what product you would recieve. At PKC photography we encourage creativity, wild ideas, and try to stray away from the norm.
				</p>
				<img src="../img/separatorBlack.png" class="img-responsive center-block separator" alt="separator">
			</div>
		</div>
		<!--end header-->
		<!--content-->
		<h1 class="parallaxLetter letter3" data-stellar-ratio="1.5" data-stellar-vertical-offset="-600">P</h1>
		<h1 class="parallaxLetter letter4" data-stellar-ratio="0.8" data-stellar-vertical-offset="0">P</h1>
		<!--content-->
		<div class="row content">
			<!--item-->
			<div class="col-xs-12 col-sm-6 col-md-6 clearfix" data-scroll-reveal="enter left move 5px over 1s after 0.2s">
				<div class="serviceIconWrapper text-center">
					<div class="serviceIcon2">
						<i class="fa fa-paint-brush"></i>
					</div>
					<div class="simpleServiceContent2">
						<h4>Creative</h4>
						<div class="aboutSeparator"></div>
						<p>
							It's all in the details...and we love details! We have fun taking photos, but editing is where the creativity comes to life and also happens to be what we do best!
						</p>
					</div>
				</div>
			</div>
			<!--end item-->
			<!--item-->
			<div class="col-xs-12 col-sm-6 col-md-6  clearfix" data-scroll-reveal="enter left move 5px over 1s after 0.6s">
				<div class="serviceIconWrapper text-center">
					<div class="serviceIcon2">
						<i class="fa fa-exchange"></i>
					</div>
					<div class="simpleServiceContent2">
						<h4>Flexible</h4>
						<div class="aboutSeparator"></div>
						<p>
							We understand that mother-nature is unpredictable and so are children. So we will make sure we go the extra mile to ensure you get the photos you're looking for!
						</p>
					</div>
				</div>
			</div>
			<!--end item-->
			<!--item-->
			<div class="col-xs-12 col-sm-6 col-md-4  clearfix" data-scroll-reveal="enter left move 5px over 1s after 0.2s">
				<div class="serviceIconWrapper text-center">
					<div class="serviceIcon2">
						<i class="fa fa-magic"></i>
					</div>
					<div class="simpleServiceContent2">
						<h4>Artistic</h4>
						<div class="aboutSeparator"></div>
						<p>
							We promise to incorporate our signature artistic flair into each and every photo...no matter what the occasion.
						</p>
					</div>
				</div>
			</div>
			<!--end item-->
			<!--item-->
			<div class="col-xs-12 col-sm-6 col-md-4  clearfix" data-scroll-reveal="enter left move 5px over 1s after 0.6s">
				<div class="serviceIconWrapper text-center">
					<div class="serviceIcon2">
						<i class="fa fa-puzzle-piece"></i>
					</div>
					<div class="simpleServiceContent2">
						<h4>Personalized</h4>
						<div class="aboutSeparator"></div>
						<p>
							You tell us what we want and we will make it happen. We will ask you to give us three adjectives that best describe what you're looking for and then we will do our part to bring those words to life.
						</p>
					</div>
				</div>
			</div>
			<!--end item-->
			<!--item-->
			<div class="col-xs-12 col-sm-6 col-md-4  clearfix" data-scroll-reveal="enter left move 5px over 1s after 1s">
				<div class="serviceIconWrapper text-center">
					<div class="serviceIcon2">
						<i class="fa fa-wrench"></i>
					</div>
					<div class="simpleServiceContent2">
						<h4>Dependable</h4>
						<div class="aboutSeparator"></div>
						<p>
							Our mantra is, "if you're on time you're late, and if you're early you're on time". We will move earth and stone to make sure that we stay on timeline, because we know your time in valuable.
						</p>
					</div>
				</div>
			</div>
			<!--end item-->
		</div>
		<!--end content-->
	</div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END about SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="services grayBox">
	<div class="container">
	<div class="col-md-4"></div>
		<div class="col-md-4">
		<h5>Services offered</h5>
		<hr>
		<ul>
			<li>Weddings</li>
			<li>Birth</li>
			<li>Newborn</li>
			<li>Maternity</li>
			<li>Month-2-Month</li>
			<li>Special events</li>
			<li>Family</li>
			<li>Portraits</li>
			<li>Videography</li>
		</ul>
		</div>
	</div>
</section>
{{!-- <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* TEXT SEPARATOR */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="text-separator-clients">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12 clientsIntro text-center">
				<h3 data-scroll-reveal="enter left move 10px over 1s after 0.2s"><span>Clients</span></h3>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div id="owl-clients" class="owl-carousel">
					<div class="clientLogo" data-scroll-reveal="enter right move 10px over 1s after 0.6s">
						<a href="#"><img src="../img/clients/1.png" class="img-responsive center-block" alt="image"></a>
					</div>
					<div class="clientLogo" data-scroll-reveal="enter right move 10px over 1s after 0.4s">
						<a href="#"><img src="../img/clients/2.png" class="img-responsive center-block" alt="image"></a>
					</div>
					<div class="clientLogo" data-scroll-reveal="enter right move 10px over 1s after 0.2s">
						<a href="#"><img src="../img/clients/3.png" class="img-responsive center-block" alt="image"></a>
					</div>
					<div class="clientLogo">
						<a href="#"><img src="../img/clients/4.png" class="img-responsive center-block" alt="image"></a>
					</div>
					<div class="clientLogo">
						<a href="#"><img src="../img/clients/5.png" class="img-responsive center-block" alt="image"></a>
					</div>
					<div class="clientLogo">
						<a href="#"><img src="../img/clients/6.png" class="img-responsive center-block" alt="image"></a>
					</div>
					<div class="clientLogo">
						<a href="#"><img src="../img/clients/7.png" class="img-responsive center-block" alt="image"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END TEXT SEPARATOR */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--> --}}